@{
    ViewData["Title"] = "Contact Page";
}

<header class="container mt-5">
    <div class="d-flex justify-content-start">
        <div class="d-flex flex-column">
            <h3 class="card-title">Send us a message!</h3>
            <h4 class="card-subtitle text-muted"></h4>
        </div>
        <div class="ml-auto align-self-center">
            <img src="~/images/expand-testing-logo.png" style="max-height:64px" />
        </div>
    </div>
    <hr />
</header>


<section class="container mb-3">
    <div class="alert alert-heading">
        At BDD-Parking® our customers come first and your questions and opinions are important to us.
        Whether it's to help us improve our services, general inquiries, or to simply say hello, take the time to complete this form and we will get back to you with pleasure.
    </div>
</section>


<section class="container">
    <div>
        <form id="parking-calc-contact">
            <div class="form-group col col-md-6 col-lg-6 col-xl-6">
                <label class="col-form-label" for="Name">Name<sup class="text-danger">*</sup></label>
                <input class="form-control" type="text" data-val="true" data-val-length="The field Name must be a string with a minimum length of 5 and a maximum length of 20." data-val-length-max="20" data-val-length-min="5" data-val-required="The Name field is required." id="contact-name" name="contact-name" value="" required />
                <span class="text-danger field-validation-valid" data-valmsg-for="Name" data-valmsg-replace="true" />
            </div>
            <div class="form-group col col-md-6 col-lg-6 col-xl-6">
                <label class="col-form-label" for="Email">Email<sup class="text-danger">*</sup></label>
                <input class="form-control" type="email" data-val="true" data-val-email="The Email field is not a valid e-mail address." data-val-required="The Email field is required." id="contact-email" name="contact-email" value="" required />
                <span class="text-danger field-validation-valid" data-valmsg-for="Email" data-valmsg-replace="true" />
            </div>
            <div class="form-group col col-md-6 col-lg-6 col-xl-6">
                <label class="col-form-label" for="Subject">Subject<sup class="text-danger">*</sup></label>

                <input class="form-control" type="text" data-val="true" data-val-length="The field Subject must be a string with a minimum length of 5 and a maximum length of 100." data-val-length-max="100" data-val-length-min="5" data-val-required="The Subject field is required." id="contact-subject" name="contact-subject" value="" required />
                <span class="text-danger field-validation-valid" data-valmsg-for="Subject" data-valmsg-replace="true" />
            </div>
            <div class="form-group col col-md-6 col-lg-6 col-xl-6">
                <label class="col-form-label" for="Message">Message<sup class="text-danger">*</sup></label>
                <textarea rows="5" class="form-control" data-val="true" data-val-required="The Message field is required." id="contact-message" name="contact-message"></textarea>
                <span class="text-danger field-validation-valid" data-valmsg-for="Message" data-valmsg-replace="true" />
            </div>
            <div class="form-group col col-md-6 col-lg-6 col-xl-6">
                <a class="btn btn-outline-secondary" onclick="history.go(-1); return false;" href="/Home/Contact">Cancel</a>
                <input type="submit" value="Send Message" class="btn btn-default btn-primary" />
            </div>
        </form>
    </div>
</section>








