
@{
    ViewData["Title"] = "About";
}

<header class="container mt-5">
    <div class="d-flex justify-content-start">
        <div class="d-flex flex-column">
            <h3 class="card-title">About Parking Cost Calculator</h3>
            <h4 class="card-subtitle text-muted"></h4>
        </div>
        <div class="ml-auto align-self-center">
            <img src="~/images/expand-testing-logo.png" style="max-height:64px" />
        </div>
    </div>
    <hr />
</header>

<section class="container">
    <p>
        Parking Cost Calculator
        This parking calculator is provided for the convenience of travelers to estimate parking costs.
        <br />
        PLEASE NOTE! This calculator can only provide an ESTIMATED parking cost. Actual cost may be different and will be determined by the actual time codes on your parking ticket.
    </p>
</section>

<section class="container">
    <h4>Updates</h4>
    <hr />
    <h6>September 30th, 2019</h6>
    <ul>
        <li>“Acceptance tests start with communication, not automation”</li>
    </ul>
    <h6>July 1st, 2019</h6>
    <ul>
        <li>“No code goes in till the test goes on”</li>
    </ul>
</section>

<section class="container">
    <a class="btn btn-outline-primary btn-default" onclick="history.go(-1); return false;" href="/Home/About">Back</a>
</section>