@model ParkCostCalc.Web.Models.AppUserBindingModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>
    BDD-Parking respects your right to personal privacy and approaches all communications 
    through our website with respect for, and commitment to, protecting your privacy rights.
</p>
<p>
    This privacy policy (“Policy”) describes how We collect, protect, use and share your
    personal information gathered on the BDD-Parkin website.
    <br />
    We will not collect, use, sell, share, or rent this personal information to others in
    ways different from what is disclosed in this Policy.
</p>