@{
    ViewData["Title"] = "Privacy Policy";
}

<header class="container mt-5">
    <div class="d-flex justify-content-start">
        <div class="d-flex flex-column">
            <h3 class="card-title">Parking Cost Calculator</h3>
            <h4 class="card-subtitle text-muted"></h4>
        </div>
        <div class="ml-auto align-self-center">
            <img src="~/images/expand-testing-logo.png" style="max-height:64px" />
        </div>
    </div>
    <hr />
</header>

<section id="cost-calculator" class="container">
    <div class="row">
        <!-- Parking Cost Calculator -->
        <div class="col-xl-5 col-lg-5 col-md-6 col-sm-12 mb-3">
            <div class="card bg-light h-100">
                <div class="card-body">
                    <h5 class="card-title">Parking Cost Calculator</h5>
                    <hr class="mt-0" />

                    <!--Start parking details-->

                    <form class="form-light mt-20" role="form" id="parking-calc-form">
                        <div class="form-group">

                            <label>Choose a Parking Lot</label>

                            <select id="parking-lot" name="parking-lot" class="form-control rounded-s5 text-size-12">
                                <option value="Valet">Valet Parking</option>
                                <option value="ShortTerm">Short-Term Parking</option>
                                <option value="LongTermGarage">Long-Term Garage Parking</option>
                                <option value="LongTermSurface">Long-Term Surface Parking</option>
                                <option value="Economy">Economy Parking</option>
                            </select>
                        </div>


                        <div class="row">

                            <div class="col-md-8">
                                <div class="form-group">
                                    <label>Entry Date</label>
                                    <input type="text" class="form-control flatpickr" name="entry-date" id="entry-date" placeholder="Entry Date" required>
                                </div>
                            </div>


                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>Entry Time</label>
                                    <input type="text" class="form-control flatpickr" name="entry-time" id="entry-time" placeholder="Entry Time" required>
                                </div>
                            </div>

                        </div>


                        <div class="row">
                            <div class="col-md-8">


                                <div class="form-group">
                                    <label>Exit Date</label>
                                    <input type="text" class="form-control flatpickr" name="exit-date" id="exit-date" placeholder="Exit Date" required>
                                </div>

                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>Exit Time</label>
                                    <input type="text" class="form-control flatpickr" name="exit-time" id="exit-time" placeholder="Exit Time" required>
                                </div>
                            </div>

                        </div>

                        <a class="btn btn-primary" href='' id="calculate-cost" hidden>Calculate</a>
                        <button type="submit" class="btn btn-primary" disabled id="btn-calculate-cost">Calculate cost</button><p><br /></p>


                        <div class="form-group" id="cost-result-success" style="display: none">
                            <div class="alert alert-success">

                                <p><b id="cost-value"></b></p>
                                <p><b id="cost-message"></b></p>

                            </div>
                        </div>

                        <div class="form-group" id="cost-result-error" style="display: none">
                            <div class="alert alert-danger">

                                <p><b id="cost-error-message"></b></p>
                            </div>
                        </div>

                    </form>


                    <!--End parking details -->

                </div>
            </div>
        </div>

        <!-- B.Rules -->
        <div class="col-xl-7 col-lg-7 col-md-6 col-sm-12 mb-3">
            <div class="card bg-light h-100">
                <div class="card-body">
                    <h5 class="card-title">Parking Rates</h5>


                    <div class="row">
                        <div class="col-md-6">


                            <div class="card">
                                <div class="card-header">
                                    <b>Valet Parking</b>
                                </div>
                                <div class="card-block">
                                    <ul>
                                        <li>18€ per day</li>
                                        <li>12€ for five hours or less</li>
                                    </ul>
                                </div>
                            </div>

                        </div>
                        <div class="col-md-6">
                            <div class="card">
                                <div class="card-header">
                                    <b>Short-Term (hourly) Parking</b>
                                </div>
                                <div class="card-block">
                                    <ul>
                                        <li>2.00€ first hour; 1.00€ each additional 1/2 hour</li>
                                        <li>24.00€ daily maximum</li>
                                    </ul>

                                </div>
                            </div>
                        </div>
                    </div>

                    <hr />

                    <div class="row">
                        <div class="col-md-6">


                            <div class="card">
                                <div class="card-header">
                                    <b>Long-Term Garage Parking</b>
                                </div>
                                <div class="card-block">
                                    <ul>
                                        <li>2.00€ per hour</li>
                                        <li>12.00€ daily maximum</li>
                                        <li>72.00€ per week (7th day free)</li>
                                    </ul>

                                </div>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="card">
                                <div class="card-header">
                                    <b>Long-Term Surface Parking</b>
                                </div>
                                <div class="card-block">
                                    <ul>
                                        <li>2.00€ per hour</li>
                                        <li>10.00€ daily maximum</li>
                                        <li>60.00€ per week (7th day free)</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>

                    <hr />

                    <div class="row">
                        <div class="col-md-12">

                            <div class="card">
                                <div class="card-header">
                                    <b>Economy Lot Parking</b>
                                </div>
                                <div class="card-block">
                                    <ul>
                                        <li>2.00€ per hour</li>
                                        <li>9.00€ daily maximum</li>
                                        <li>54.00€ per week (7th day free)</li>
                                    </ul>
                                </div>
                            </div>

                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>


<!--Popup Dialog When Processing request -->
<section class="modal fade" id="cost-processing-dialog" data-backdrop="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Processing request...</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="progress">
                    <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%"></div>
                </div>
            </div>
        </div>
    </div>
        </section>



<section class="container mb-3">
    <div class="alert alert-info">
        <strong>Note: </strong>
        A Lost Ticket Fee of $10.00 will be assessed when the original parking stub cannot be produced when exiting the parking facilities (does not apply to Valet Parking).
    </div>
</section>
